<div class="unmatched-ERas insurance-main-div">
    <header>
        <div class="header-unmatched-ERas d-flex flex-row insurance-billing-headers">
            <p>unmatched-ERas</p>
        </div>
        <div class="header-body insurance-billing-header-body">
            <div class="d-flex flex-row input-row">
                <input type="text" class="form-control" placeholder="Trace #">
                <select name="" id="" class="form-select">
                    <option value="">Recieved Date</option>
                    <option value="">Check Date</option>
                    <option value="">DoS</option>
                </select>
                <div class="to-input">
                    <input type="date" class="form-control">
                </div>
                <div class="to-input">
                    <input type="date" class="form-control">
                </div>
                <div class="patient">
                    <input type="text" placeholder="patient" class="form-control">
                </div>
                <div class="insurance">
                    <input type="text" placeholder="insurance" class="form-control">
                </div>
                <select name="" id="" class="form-select">
                    <option value="">--Status--</option>
                    <option value="">New</option>
                    <option value="">In Progress</option>
                    <option value="">Complete</option>
                </select>
                <button type="button" class="btn btn-light">Reset</button>
                <button type="button" class="btn btn-primary update-btn"><i class="bi bi-arrow-clockwise"></i><span
                        class="upadte-text">Update</span></button>
            </div>
        </div>
    </header>
    <div class="d-flex flex-row remittance-report-sub-options">
        <button type="button" class="btn btn-light">Export</button>
    </div>
    <div class="table">
        <table id="unmatched-ERas-table" class="table table-striped table-condensed table-bordered table-hover">
            <thead>
                <tr class="bg-warning">
                    <th>Patient Name</th>
                    <th>Chart ID</th>
                    <th>Patient Status</th>
                    <th>Appointment Balance</th>
                    <th>Total Payment</th>
                    <th>Unallocated Payment</th>
                    <th>Current Patient Responsibility</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Shehroz Kapoor</td>
                    <td>TETE000001</td>
                    <td>A</td>
                    <td>$100.00</td>
                    <td>$1,110.00</td>
                    <td>$1,000.00</td>
                    <td>-$900.00</td>
                <tr>
                    <td>Shehroz Kapoor</td>
                    <td>TETE000001</td>
                    <td>A</td>
                    <td>$100.00</td>
                    <td>$1,110.00</td>
                    <td>$1,000.00</td>
                    <td>-$900.00</td>
                <tr>
                    <td>Shehroz Kapoor</td>
                    <td>TETE000001</td>
                    <td>A</td>
                    <td>$100.00</td>
                    <td>$1,110.00</td>
                    <td>$1,000.00</td>
                    <td>-$900.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#unmatched-ERas-table').DataTable();
    });
</script>