{% extends 'patient_helath_care_record/base.html' %}


{% block content %}
<nav class="container-fluid main-nav">
    <div class="row mb-2">
        <div class="patient-details col">
            <p><span class="id">4927</span> <span class="name">NASER MOHAMMED KH ALANAZI</span></p>
        </div>
        <div class="ward-details col">
            <p>ICU 07/A/ICU</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="date col">
            <p>23 YR 7 MARCH 11</p>
        </div>

        <div class="date col">
            <p>23 YR 7 MARCH 11</p>
        </div>
        <div class="mobile_no col">
            <p>Mobile_no:31575776726</p>
        </div>
        <div class="alergic_to col">
            <p>Alergic: ROOD,MON</p>
        </div>
        <div class="admitted col">
            <p>Admitted</p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <section class="side-bar col-lg-2">
            <ul>
                <div>
                    <li>Nurse</li>
                </div>
                <div>
                    <li>Nurse</li>
                </div>
                <div>
                    <li>Nurse</li>
                </div>
            </ul>
        </section>
        <section class="main_menu col">
            <div class="row">
                <div class="alert alert-warning">
                    hello
                </div>
            </div>
            <div class="row justify-content-space-between">
                <div class="col-3 columns">
                    <div class="row current_admission">
                        <header class="header">CURRENT ADMISSION</header>
                        <div class="body">
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">CURRENT DOCTOR:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Admitted By:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Length of stay:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Pending Orders:</p>
                                <p class="value">12</p>
                            </div>
                        </div>
                    </div>
                    <div class="row triage">
                        <header class="header">Triage/Vital/Mesurements</header>
                        <div class="body">
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">CURRENT DOCTOR:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Admitted By:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Length of stay:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Pending Orders:</p>
                                <p class="value">12</p>
                            </div>
                        </div>
                    </div>
                    <div class="row chief_complain">
                        <header class="header">Chief Complain</header>
                        <div class="body">
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">CURRENT DOCTOR:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Admitted By:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Length of stay:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Pending Orders:</p>
                                <p class="value">12</p>
                            </div>
                        </div>
                    </div>
                    <div class="row current_medication">
                        <header class="header">Current Medication</header>
                        <div class="body">
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">CURRENT DOCTOR:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Admitted By:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Length of stay:</p>
                                <p class="value">GENERAL MEDICINE GRPUP</p>
                            </div>
                            <div class="d-flex flex-row justify-content-space-between">
                                <p class="heading">Pending Orders:</p>
                                <p class="value">12</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 columns">
                    <div class="row multi_dispensary_care_plan">
                        <header class="header">MultiDispensary Care Plan</header>
                        <div class="body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Type</th>
                                        <th scope="col">Discription</th>
                                        <th scope="col">Discription</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                              </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row Lab">
                        <header class="header">Lab</header>
                        <div class="body">
                            <div class="lab-header">
                                <p>Order New: <a href="">djdsahdjkhdajhdskj</a></p>
                                <p>Date:21-01-2022</p>
                            </div>
                            <div class="handsontable-container"></div>
                        </div>
                    </div>
                    <div class="row progress_note">
                        <header class="header">Progress Note</header>
                        <div class="body">
                            <!-- insert the body -->
                        </div>
                    </div>
                </div>
                <div class="col-4 columns">
                    <div class="row Lab">
                        <header class="header">Clinical Alerts</header>
                        <div class="body">
                            <!-- insert the body -->
                        </div>
                    </div>
                    <div class="row Lab">
                        <header class="header">Outstanding Orders</header>
                        <div class="body">
                            <!-- insert the body -->
                        </div>
                    </div>
                    <div class="row Lab">
                        <header class="header">Problems/Diagnostics</header>
                        <div class="body">
                            <!-- insert the body -->
                        </div>
                    </div>
                    <div class="row Lab">
                        <header class="header">Alergies</header>
                        <div class="body">
                            <!-- insert the body -->
                        </div>
                    </div>
                    <div class="row Lab">
                        <header class="header">Procedures</header>
                        <div class="body">
                            <!-- insert the body -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}


